body {
    margin: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    background: #f3f3f3;
}

header {
    height: 30px;
    background: #1FA67A;
    border-bottom: 1px solid #015909;
}

.categories {
    padding: 20px;
    text-align: center;
}

.categories .category {
    border-radius: 4px;
    padding: 60px;
    background: #1FA67A;
    display: inline-block;
    position: relative;
    transition: transform .8s;
    cursor: pointer;
    margin:20px;
    width: 90px;
    text-align: center;

}

.categories .category:hover {
    transform: scale(1.1);
}

.categories .category .category-info {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 20px;
}

.categories .category i {
    font-size: 3em;
    color: #fff;
}
.search-container {
    padding: 20px;
    text-align: center;
}
.search-container .search {
    border: 1px solid #00452F;
    background: #fff;
    border-radius: 8px;
    position: relative;
    width: 70%;
    display: inline-block;
}
.search-container .search input {
    background: none;
    border: none;
    width: 95%;
    height: 100%;
    font-size: 2em;
    color: #0C4F39;
    padding: 5px 20px;
}
.search-container .search input:focus {
    border: none;
}